:root
{
    --main-color: rgb(225,231,240);
    --side-color: rgb(24, 162, 241);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  height: 100vh;
  display: flex;
}
img
{
    width: 30px;
}
.side-bar
{
    width: 20%;
    height: 100vh;
    background-color: var(--side-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.side-bar div
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    row-gap: 15px;
    column-gap: 20px;
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    margin-left: 10px;
}
.content-wrapper {
    width: 80%;
    height: 100vh;
}
.nav-bar
{
    height: 20%;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
.main
{
    height: 80%;
    background-color: var(--main-color);
}