:root
{
    --main-color: rgb(225,231,240);
    --side-color: rgb(24, 162, 241);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  height: 100vh;
  display: flex;
}
img
{
    width: 30px;
}
.side-bar .logo
{
    column-gap: 10px;
}
.side-bar
{
    width: 20%;
    height: 100vh;
    background-color: var(--side-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.side-bar div
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    row-gap: 15px;
    column-gap: 25px;
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    margin-left: 10px;
}

.side-bar div img
{
    filter: brightness(0) invert(1);
}
.logo-img
{
    width: 45px;
}
.content-wrapper {
    width: 80%;
    height: 100vh;
}
.nav-bar
{
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
.nav-top
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-top .search
{
    margin-left: 50px;
}

.nav-top input
{
    width: 700px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: var(--main-color);
}
.nav-top .bell
{
    margin-left: 150px;
}
.nav-top .icon
{
    width: 50px;
    border-radius: 30px;
    margin-left: 40px;
}
.nav-top p
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.nav-bot
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}
.nav-bot img
{
    width: 75px;
    border-radius: 40px;
}
.nav-bot p
{
    font-weight: 800;
}
.nav-bot .username
{
    font-size: 30px;
}
.buttons
{
    margin-left: auto;
    margin-right: 150px;
    display: flex;
    gap: 15px;
}
.buttons button
{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 20px;
    background-color: var(--side-color);
}
.main
{
    height: 80%;
    background-color: var(--main-color);
}
